{{ define "__text_alert_list" }}{{ range . }}主机:{{ .Labels.server }}
详情:{{ .Annotations.description }}
====================
{{ end }}{{ end }}{{ define "ding.link.content" }}{{ if gt (len .Alerts.Firing) 0 }}[{{ .Alerts.Firing | len }}]【告警通知】
{{ template "__text_alert_list" .Alerts.Firing }}{{ end }} {{ if gt (len .Alerts.Resolved) 0 }}[{{ .Alerts.Resolved | len }}]【恢复通知】
{{ template "__text_alert_list" .Alerts.Resolved }}{{ end }}{{ end }}