{{ define "wechat.default.message" }}{{ if gt (len .Alerts.Firing) 0 -}}========告警通知========{{ range .Alerts }}
告警主机:{{ .Labels.instance }} , {{ .Labels.server }} , {{ .Labels.exported_instance }}
告警级别:{{ .Labels.severity }}
告警类型:{{ .Labels.alertname }}
告警概要:{{ .Annotations.summary }}
告警详情:{{ .Annotations.description }}
当前数值:{{ .Annotations.value }}
首次告警:{{ (.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
----------------------{{- end }}{{- end }}{{ if gt (len .Alerts.Resolved) 0 -}}========恢复通知========{{ range .Alerts }}
告警主机:{{ .Labels.instance }} , {{ .Labels.server }} , {{ .Labels.exported_instance }}
告警类型:{{ .Labels.alertname }}
告警概要:{{ .Annotations.summary }}
当前数值:{{ .Annotations.value }}
首次告警:{{ (.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
恢复时间:{{ (.EndsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
----------------------{{- end }}{{- end }}{{- end }}