 {{ define "wechat.default.message" }}
  {{ if gt (len .Alerts.Firing) 0 -}}
  ☸ Alerts Firing ✖️ ‼️ :
  {{ range .Alerts }}
  ☎️ 触发警报 ☔ ☠️ : {{ .Labels.alertname }}
  ☞名称空间: {{ .Labels.namespace }}
  ☞主机: {{ .Labels.instance }}
  ☞job: {{ .Labels.job }}
  ->涉及容器名称: {{ .Labels.container }}
  ->Pod名称: {{ .Labels.pod }}
  告警级别: {{ .Labels.severity }}
  告警详情: {{ .Annotations.description }}
  触发时间⏱: {{ .StartsAt.Format "2006-01-02 15:04:05" }}
  警报链接: {{ .GeneratorURL }}
  ✍️ 备注详情❄️: {{ .Annotations.runbook_url }}
  -------------------->END<--------------------
  {{- end }}
  {{- end }}
  {{ if gt (len .Alerts.Resolved) 0 -}}
  ☸ Alerts Resolved ✔️:
  {{ range .Alerts }}
  ☎️ 触发警报 ☫ : {{ .Labels.alertname }}
  ♥️ 名称空间 ✝️ : {{ .Labels.namespace }}
  ♥️ ->涉及容器名称: {{ .Labels.container }}
  ♥️ ->Pod名称☸: {{ .Labels.pod }}
  ♥️ 告警级别: {{ .Labels.severity }}
  ♥️ 告警详情: {{ .Annotations.description }}
  ♥️ 触发时间 ⏱ : {{ .StartsAt.Format "2006-01-02 15:04:05" }}
  ♥️ 恢复时间 ⏲ : {{ .EndsAt.Format "2006-01-02 15:04:05" }}
  ♥️ 备注详情: {{ .Annotations.runbook_url }}
  {{- end }}
  {{- end }}
  {{- end }}

